.frame {
  width: 90%;
  margin: 150px auto;
}

.innerFrame {
  width: 50%;
  margin: auto;
}


.inpBlocks > input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(196, 195, 195);
  outline: none;
  padding: 0 10px;
}

.innerFrame h2 {
  text-align: center;
}

.innerFrame > button {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color:darkseagreen;
  color: white;
  margin: 10px 0;
  font-size: 20px; 
  cursor: pointer;
}

.frame > button:active {
  background-color:rgb(167, 75, 14);
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  text-align: left;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  list-style-type: none;
}

.listItem {
  background-color: white;
  min-height: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  font-size: 18px;
}

.check {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 20px;
  height: 20px;
}

.danger {
  background-color: rgb(247, 49, 49);
  width: 200px;
  display: block;
  margin: 10px auto;
  /* color: white; */
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  outline: none;
}

.listItem img {
  width: 100%;
  display: block;
}

.listItem span {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: darkolivegreen;
  margin-right: 10px;
}

.listItem button {
  margin: 10px 0;
  background-color: red;
  /* color: white; */
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  outline: none;
}

.checkedProps {
  background-color: #5d705d !important;
  color: white;
  border: 1px solid green;
}